body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   black;
    color: white;

    font-family: "Inter", sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}   

#back-link {
    border: none;
    background: none;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(78, 78, 78);
    cursor: pointer;
}

#back-link:hover {
    color: darkred;
}