html {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #407492 4px, rgba(0, 0, 0, 0) 1px);
    background-color: #3a2424;
}

:root {
  font-family: "Gaegu", sans-serif;
  --text-color: #3a2424;
  --accent-color: #407492;

  --bg-color: #3a2424;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INTRO */
.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: url(../assets/images/231-subtle-white-paper.webp) repeat;
  box-shadow: black 5px 5px 20px 0px;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--text-color);
  margin: 0;
  text-align: center;
}

button {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Gaegu", sans-serif;
  color: var(--text-color);
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* PINPAD */
.pinpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--text-color);
  padding: 1rem;
  margin-top: 1rem;
}

.pinpad-header {
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 2rem;
}

.pinpad-input {
  font-family: "Gaegu", sans-serif;
  width: 7rem;
  cursor: default;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
}

.pinpad-input:focus {
  outline: none;
}

.row {
  display: flex;
  gap: 3rem;
}

.pinpad-btn {
  font-size: 2rem;
  font-style: normal;
}

.pinpad-btn:hover {
  text-decoration: underline;
}

.submit {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

/* QUIZ STYLING */
.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.question {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrong h1 {
  font-size: 3rem;
}

.wrong p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.wrong-img {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}

.gift {
  flex-direction: column;
  align-items: center;
}

.gift p {
  font-size: 1.75rem;
  text-align: center;
}

#gift-btn {
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
}

#gift-btn:hover {
  text-decoration: underline;
  color: var(--accent-color);
}